@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --font-family-primary: 'Inconsolata', monospace;

    --font-weight-light: 300;
    --font-weight-normal: 600;
    --font-weight-bold: 900;

    --white-25: rgba(255, 255, 255, 0.25);
    --white-50: rgba(255, 255, 255, 0.5);
    --white-75: rgba(255, 255, 255, 0.75);
    --white-100: rgba(255, 255, 255, 1);
    --gray-25: rgba(50, 50, 50, 0.25);
    --gray-50: rgba(50, 50, 50, 0.5);
    --gray-75: rgba(50, 50, 50, 0.75);
    --gray-100: rgba(50, 50, 50, 1);
    --darkgray-50: rgba(25, 25, 25, 0.5);
    --darkgray-75: rgba(25, 25, 25, 0.75);
    --darkgray-100: rgba(25, 25, 25, 1);
    --black-50: rgba(0, 0, 0, 0.5);
    --black-75: rgba(0, 0, 0, 0.75);
    --black-100: rgba(0, 0, 0, 1);
    --transparent: rgba(0, 0, 0, 0);
}

* {
    /* Typography */
    font-family: var(--font-family-primary);

    /* Sizing */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    cursor: none;
}

html,
body {
    /* Color */
    color: var(--white-75);
    background: var(--black-100);

    /* Typography */
    font-size: 62.5%;

    /* Sizing */
    max-width: 100vw;
    height: 100%;
    width: 100%;

    /* Decoration */
    overflow-x: hidden;
    cursor: none;
}

ol,
ul {
    /* Decoration */
    list-style: none;
}

a {
    /* Color */
    color: inherit;

    /* Decoration */
    text-decoration: none;
}

table {
    /* Sizing */
    border-spacing: 0;

    /* Decoration */
    border-collapse: collapse;
}

input {
    /* Decoration */
    border: none;
}

input:focus {
    /* Decoration */
    outline: none;
    box-shadow: none;
}

input::placeholder {
    /* Color */
    color: transparent;
}
