.top {
    /* 1. Layout */
    display: grid;
    grid-template-rows: 80% 10% 10%;

    /* 2. Color */;
    background: radial-gradient(circle, var(--gray-75), var(--black-100));

    /* 4. Sizing */
    height: 100vh;

    /* 5. Pisitioning */
    z-index: 0;
}

.canvas {
    /* 1. Layout */
    grid-row: 1 / 2;

    /* 4. Sizing */
    height: 100%;
    width: 100%;

    /* 5. Pisitioning */
    z-index: 5;
}

.message {
    /* 1. Layout */
    grid-row: 2 / 3;

    /* 2. Color */
    color: var(--white-75);

    /* 3. Typography */
    font-size: 2rem;
    font-weight: var(--font-weight-light);
    line-height: 2em;
    text-align: center;

    /* 4. Sizing */
    margin-top: -9rem;

    /* 5. Pisitioning */
    z-index: 5;
}

.button {
    /* 1. Layout */
    grid-row: 3 / 4;

    /* 4. Sizing */
    width: 50%;
    margin: -5rem auto;

    /* 5. Pisitioning */
    z-index: 10;
}
