.leftArrowButton {
    /* 1. Layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* 2. Color */
    background: var(--black-25);
    color: var(--white-75);
    opacity: 0;

    /* 3. Typography */
    font-size: 1.5rem;
    font-weight: var(--font-weight-light);

    /* 4. Sizing */
    margin-block: 0.75rem;
    padding: 0.75rem;
    width: 4rem;
    height: 4rem;

    /* 5. Positioning */
    position: relative;

    /* 6. Decoration */
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 0.5rem var(--white-50);

    /* 7. Animation */
    transition:
        opacity 750ms ease,
        transform 500ms ease,
        box-shadow 500ms ease;
}

.leftArrowButtonVisible {
    /* 2. Color */
    opacity: 1;
}

.leftArrowButton::after {
    /* 1. Layout */
    content: '';

    /* 4. Sizing */
    width: 1rem;
    height: 1rem;

    /* 6. Decaration */
    border-left: 1px solid var(--white-75);
    border-top: 1px solid var(--white-75);

    /* 5. Positioning */
    position: absolute;
    top: 50%;
    left: 55%;

    /* 7. Animation */
    transform: translate(-50%, -50%) rotate(-45deg);
}

.leftArrowButton:hover {
    /* 6. Decoration */
    box-shadow: 0.5rem 0 1rem var(--white-50);

    /* 7. Animation */
    transform: translateX(-1rem);
}

.rightArrowButton {
    /* 1. Layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* 2. Color */
    background: var(--black-25);
    color: var(--white-75);
    border: none;
    opacity: 0;

    /* 3. Typography */
    font-size: 1.5rem;
    font-weight: var(--font-weight-light);

    /* 4. Sizing */
    width: 4rem;
    height: 4rem;
    padding: 0.75rem;
    margin-block: 0.75rem;

    /* 5. Positioning */
    position: relative;

    /* 6. Decoration */
    border-radius: 50%;
    box-shadow: 0 0 0.5rem var(--white-50);

    /* 7. Animation */
    transition:
        opacity 750ms ease,
        transform 500ms ease,
        box-shadow 500ms ease;
}

.rightArrowButtonVisible {
    /* 2. Color */
    opacity: 1;
}

.rightArrowButton::after {
    /* 1. Layout */
    content: '';

    /* 4. Sizing */
    width: 1rem;
    height: 1rem;

    /* 2. Color */
    border-right: 1px solid var(--white-75);
    border-top: 1px solid var(--white-75);

    /* 5. Positioning */
    position: absolute;
    top: 50%;
    left: 45%;

    /* 7. Animation */
    transform: translate(-50%, -50%) rotate(45deg);
}

.rightArrowButton:hover {
    /* 6. Decoration */
    box-shadow: -0.5rem 0 1rem var(--white-50);

    /* 7. Animation */
    transform: translateX(1rem);
}
