.cursor {
    --cursor-size: 2rem;
    --cursor-offset: -1rem;

    /* Layout */
    position: fixed;

    /* Color */
    background: radial-gradient(circle, var(--white-75) 0%, transparent 70%);

    /* Sizing */
    width: var(--cursor-size);
    height: var(--cursor-size);
    border-radius: 50%;

    /* Positioning */
    top: var(--cursor-offset);
    left: var(--cursor-offset);
    transform: translate(-50%, -50%);
    z-index: 999;

    /* Decoration */
    pointer-events: none;

    /* Animation */
    transition: width 500ms ease, height 250ms ease;
}

.cursor.hovered {
    /* Sizing */
    width: calc(var(--cursor-size) * 1.5);
    height: calc(var(--cursor-size) * 1.5);
}

.cursor.clicked {
    /* Sizing */
    width: calc(var(--cursor-size) * 0.5);
    height: calc(var(--cursor-size) * 0.5);
}
