.overlay {
    /* 1. Layout */
    display: flex;
    justify-content: center;
    align-items: center;

    /* 2. Color */
    background-color: var(--black-75);

    /* 4. Sizing */
    width: 100%;
    height: 100%;

    /* 5. Positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    /* 6. Decoration */
    backdrop-filter: blur(0.25rem);
}

.modal {
    /* 2. Color */
    background-color: var(--gray-75);

    /* 4. Sizing */
    padding: 2rem;
    width: 50%;
    height: 75%;

    /* 5. Positioning */
    position: relative;
    z-index: 105;

    /* 6. Decoration */
    border-radius: 1rem;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.5rem);
}
